PORT=3000
DATABASE_URL="postgresql://usuario:contrasena@host-pooler:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
DIRECT_URL="postgresql://usuario:contrasena@host-directo:5432/postgres?sslmode=require"
JWT_SECRET=tu_clave_secreta_muy_segura
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=tu_publishable_key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key
